<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/form-style.css">
    <title>History</title>
</head>
<body>
        <div class = "header">
        <div class = "leftSideBar">
            <h1>Learning Outcomes Committee</h1>
        </div>
        <div class="rightSideBar">
            <a href="/" role="button">Division</a>
            <a href="/summary" role="button">Summary</a>
        </div>
        </div>
        <main>
<div class = "main-content">
        <table id = "order-table" class ="display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Timestamp</th>
                    <th>Context</th>
                    <th>Identifier</th>
                </tr>
            </thead>
            <tbody>
                <% inMemoryEdits.forEach(updated => { %>
                  <tr>
                    <td><%= updated.name %></td>
                    <td><%= updated.timestamp %></td>
                    <td><%= updated.context %></td>
                    <td><%= updated.identifier %></td>
                  </tr>
                <% }) %>
            </tbody>
        </table>
        </main>
</body>
</html>