<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOC History Page</title>
    <link rel="stylesheet" type="text/css" href="/styles/form-style.css">
    <link rel = "stylesheet" href = "//cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css">
    <script src = "https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src = "//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>
</head>
<body>
        <div class = "header">
        <div class = "leftSideBar">
            <h1>Learning Outcomes Committee</h1>
        </div>
        <div class="rightSideBar">
            <a href="/" role="button">Division</a>
            <a href="/summary" role="button">Summary</a>
        </div>
        </div>
        <main>
<div class = "main-content">
        <table id = "edit-table" class ="display">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Context</th>
                    <th>Change</th>
                </tr>
            </thead>
            <tbody>
                <%  edits.forEach(edit => { %>
                <tr>
                    <td><%= edit.ts.toLocaleString() %></td>
                    <td><%= edit.ct %></td>
                    <td><%= edit.ud %></td>
                </tr>
                <% }); %>
            </tbody> 
        </table>
        </div>
        </main>
    <script defer>
        let table = new DataTable('#edit-table', {
        order: [[0, 'desc']],     // sorts by most recent timestamp
        columnDefs: [
            { type: 'datetime', targets: 0 }   // force column type to date to ensure no errors
        ]
        });
    </script>
</body>
</html>