<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOC User App</title>
    <link rel="stylesheet" type="text/css" href="/styles/form-style.css">
</head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=edit" />
    <script src="/scripts/cardLoader.js" defer></script>
<body class = "body">
<!--Add header to move cards down and create a professional images-->
<!--Add two dropdown menus hegre to select which division is shown-->
    <div class = "header">
        <div class = "leftSideBar">
            <h1>INSERT ORGINZATION NAME HERE</h1>
        </div>
        <div class="rightSideBar">
            <a href="/table" role="button">Summary Page</a>
        </div>
    </div>

    <div class = "mainSection">
        <div class="card-grid" id="cardContainer"></div>
    </div>
    <div class = "footer">
    </div>
</body>
</html>