<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOC User App</title>
</head>
<!-- Card being made here, don't mind the bloat please -->
<script src="../public/scripts/cardLoader.js" defer></script>
<!-- Script end -->
<body>
    <div class="card-grid" id="cardContainer"></div>
    <p>Wow</p>
    <div Class="Header">
        <div Class="LeftSideBar">
            <p>Left Sidebar Element</p>
        </div>
        <div Class="RightSideBar">
            <p>Right Sidebar Element</p>
        </div>
    </div>
    <div Class="MainSection">
    </div>
    <div Class="Footer">
        
    </div>
</body>
</html>