<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOC User App</title>
    <link rel="stylesheet" type="text/css" href="/styles/form-style.css">
</head>

<!-- Card being made here, don't mind the bloat please -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=edit" />
    <script src="/scripts/cardLoader.js" defer></script>
<!-- Script end -->

<body class = "body">
    <div class = "header">
        <div class = "leftSideBar">
            <img src="/images/documentIcon.png">
            <p>LOC DOCUMENT APPLICATION</p>
        </div>
        <div class="rightSideBar">
            <p>Right Sidebar Element</p>
        </div>
        <span class="material-symbols-outlined">
            edit
        </span>
    </div>

    <div class = "mainSection">
        <div class="card-grid" id="cardContainer"></div>
    </div>
    <div class = "footer">
    </div>
</body>
</html>