<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOC User App</title>
    <link rel="stylesheet" type="text/css" href="../public/styles/form-style.css">
</head>
<!-- Card being made here, don't mind the bloat please -->
<script src="../public/scripts/cardLoader.js" defer></script>
<!-- Script end -->
<body class="body">
    <div Class="Header">
        <div Class="LeftSideBar">
            <img src="../public/images/DocumentIcon.png">
            <p>LOC DOCUMENT APPLICATION</p>
        </div>
        <div Class="RightSideBar">
            <p>Right Sidebar Element</p>
        </div>
    </div>
    <div Class="MainSection">
        <div class="card-grid" id="cardContainer"></div>
    </div>
    <div Class="Footer">
        
    </div>
</body>
</html>