<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css"/>
    <script src="//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>

    <% 	
    let table = new DataTable('#myTable');
    %>
    	
</head>
<body>
</body>
</html>